
// ------------------Header------------------
.hero {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 1.2rem;
    background-color: white;
    width: 100%;
    height: 100px;
    border-bottom: .1px solid #0000005a;
    @include w1726 () {
      padding-left: 5%;
      padding-right: 5%;
    }
    @include w1638 () {
      padding-left: 3%;
      padding-right: 3%;
    }
    @include w1350 () {
      font-size: 1rem;
    }
    .btn {
      @include w1638 () {
        font-size: 1rem;
      }
      @include w1200 () {
        grid-column: 2/3;
        grid-row: 1/2;
        max-width: 180px;
        margin-left: auto;
      }
    }
    @include w1200 () {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: 75px 75px;
      height: 150px;
    }
    @include w800 () {
      display: none;
    }
  }

  &__ul {
    @include w1200 () {
      grid-column: 1/3;
      grid-row: 2/3;
      display: flex;
      justify-content: center;
    }
  }

  &__logo {
    color: #000;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: 900;
    @include w1638 () {
      font-size: 2.2rem;
    }
    @include w1260 () {
      font-size: 1.7rem;
    }
  }

  &__span {
    color: $color-primario-4;
    font-family: 'Sorts Mill Goudy', serif;
  }
}

.hamburguer {
  @include minw800 () {
    display: none;
  }
}

.hamburguer__nav {
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  line-height: 75px;
  background: #fff;
  @include w500 () {
    padding: 0 10%;
  }
}

.hamburguer__input {
  display: none;
}

.hamburguer__nav .navbar-brand {
  color: #000;
  font-size: 1.9rem;
  font-weight: 500;
  letter-spacing: .5px;
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 900;
  text-decoration: none;
  @include w420 () {
    font-size: 1.5rem;
    transform: translateY(4.5px);
  }
  span {
    color: $color-primario-4;
    font-family: 'Sorts Mill Goudy', serif;
  }
}

.hamburguer__nav .nav-list .nav-item {
  cursor: pointer;
  transition: .4s;
}

.hamburguer__nav .nav-list .nav-item:hover {
  background: $color-primario-4;
}

.hamburguer__nav .nav-list .nav-link {
  color: #000;
  font-size: 18px;
  padding: 35px 370px 35px 35px ;
  width: 100%;
  @include maxw600 () {
    padding-right: 100px;
  }
}

.hamburguer__nav .navbar-toggler {
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

.hamburguer__nav .navbar-toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: $color-primario-4;
  border-radius: 20%;
  transition: .4s;
  @include w420 () {
    width: 35px;
    height: 3px;
    margin-bottom: 8px;
    transform: translateY(7px);
  }
}

.hamburguer__input:checked ~ .hamburguer__nav .nav-list {
  transform: translateY(0);
}

.hamburguer__input:checked ~ .hamburguer__nav .navbar-toggler {
  margin-top: 35px;
}

.hamburguer__input:checked ~ .hamburguer__nav .navbar-toggler .bar:nth-child(1) {
position: absolute;
transform: rotate(45deg);
}

.hamburguer__input:checked ~ .hamburguer__nav .navbar-toggler .bar:nth-child(2) {
  display: none;
  }

  .hamburguer__input:checked ~ .hamburguer__nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
    }

    @media (max-width: 800px) {

      .hamburguer__nav .nav-list {
        display: grid;
        position: absolute;
        background: #fff;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
        border-bottom: .1px solid #00000035;
      }
    
      .hamburguer__nav .nav-list .nav-item {
        padding-left: 35px;
      }
    
      .hamburguer__nav .navbar-toggler {
        display: grid !important;
      }
    
    }

// ------------------Sección portada------------------

.portada {
  position: relative;
  min-height: 1188px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/background.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  transform: translateY(-70px);
  @include h900 () {
    transform: translateY(-120px);
  }
  @include w1260 () {
    justify-content: flex-start;
    padding: 140px;
    min-height: 850px;
    gap: 20px;
  }
  @include h900w1260 () {
    transform: translateY(-70px);
  }
  @include w1024 () {
    padding: 140px 70px;
  }
  @include maxw600 () {
    padding: 120px 30px;
  }
  @include w500 () {
    margin-top: 25px;
  }
  @include w430 () {
    padding: 120px 20px;
  }
  &__cont-type {
    position: absolute;
    left: 5%;
    top: 17%;
    @include w1260 () {
      position: unset;
    }
    h2 {
      font-size: 6.96rem;
      font-weight: 400;
      @include w1638 () {
        font-size: 5.8rem;
      }
      @include h900 () {
        margin: 0;
        font-size: 5.2rem;
      }
      @include w1260 () {
        font-size: 4rem;
      }
      @include w924 () {
        font-size: 3rem;
      }
      @include w720 () {
        font-size: 2.5rem;
      }
      @include w528 () {
        font-size: 2rem;
      }
      @include w500 () {
        margin-bottom: 15px;
      }
      @include w430 () {
        font-size: 1.7rem;
      }
      @include w378 () {
        font-size: 1.5rem;
      }
    }
    span {
      font-size: 6.96rem;
      @include w1638 () {
        font-size: 5.8rem;
      }
      @include h900 () {
        margin: 0;
        font-size: 5.2rem;
      }
      @include w1260 () {
        font-size: 4rem;
      }
      @include w924 () {
        font-size: 3rem;
      }
      @include w720 () {
        font-size: 2.5rem;
      }
      @include w528 () {
        font-size: 2rem;
      }
      @include w430 () {
        font-size: 1.7rem;
      }
      @include w378 () {
        font-size: 1.5rem;
      }
    }
  }
  &__multitext {
    font-weight: bold;
    text-transform: capitalize;
    color: $color-primario-4;
  }
  &__cont-frase-quote {
    position: relative;
    margin: 50px 0;
    transform: translateX(-290px);
    display: flex;
    flex-direction: column;
    border-left: 2.8px solid;
    padding-left: 12px;
    border-image: linear-gradient(to bottom, transparent 5%, rgba(0, 0, 0, 0.479) 5%, transparent);
    border-image-slice: 1;
    @include w1566 () {
      transform: translateX(-220px);
    }
    @include h900 () {
      margin: 10px 0;
      top: -75px;
    }
    @include w1440 () {
      transform: translateX(-190px);
    }
    @include w1330 () {
      transform: translateX(-150px);
    }
    @include w1260 () {
      transform: translateX(0);
      position: static;
      order: 30;
    }
    @include w720 () {
      margin: 25px 0;
    }
    @include w500 () {
      margin: 15px 0;
    }
    @include w378 () {
      margin: 10px 0;
    }
    @include w430 () {
      margin-left: 12px;
    }
    .portada__quote {
      margin: 80px 25px 0 0;
      align-self: end;
      color: #00000077;
      font-size: 1.5rem;
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 700;
      text-shadow: 1px 1px 1px #0000002a;
      @include w1638 () {
        font-size: 1.2rem;
      }
      @include h900 () {
      transform: translateY(-15px);
      }
      @include w500 () {
      transform: translateY(-22.5px);
      }
      @include w378 () {
        font-size: 1rem;
        margin: 50px 25px 0 0;
      }
    }
    .portada__comillas {
      font-family: 'Montagu Slab', serif;
      font-size: 8rem;
      color: #6d6d6db0;
      position: absolute;
      right: 0;
      top: 35px;
      transform: translateX(50px);
      @include w1638 () {
        font-size: 6rem;
        transform: translateX(20px);
        transform: translateY(10px);
      }
      @include h900 () {
        transform: translateY(-5px);
      }
      @include w378 () {
        font-size: 5rem;
      }
    }
  }
  &__frase {
    font-size: 2.1rem;
    font-weight: 300;
    color: #4d4d4de5;
    font-style: italic;
    text-shadow: 1px 1px 1px #00000080;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 5px;
    @include w1638 () {
      font-size: 1.8rem;
    }
    @include w720 () {
      font-size: 1.3rem;
    }
    @include w500 () {
      padding-right: 40px;
    }
    @include w378 () {
      font-size: 1rem;
      padding-right: 35px;
    }
    span {
      font-family: 'Indie Flower', cursive;
      font-weight: bold;
    }
  }
  &__te-invito {
    background-color: #fff;
    padding: 1.5rem;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 55px;
    opacity: 0;
    animation-name: appear;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transform: translateX(-250px) translateY(-50px);
    text-decoration: none;
    border-radius: 20px;
    @include h900 () {
      margin-top: 10px;
      padding: .8rem;
    }
    @include w1260 () {
      display: none;
    }
    @include h800 () {
      transform: translateX(-250px) translateY(-70px);
    }
    .inside-text {
      background-image: linear-gradient(45deg,hsl(194, 100%, 13%),hsl(194, 100%, 17%),hsl(194, 100%, 22%),hsl(194, 100%, 27%),hsl(194, 100%, 32%),hsl(194, 100%, 37%),hsl(194, 100%, 42%),hsl(194, 100%, 47%),hsl(194, 100%, 52%));
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-size: 400%;
      animation: color 2s infinite alternate;
    }
  }
  &__arrow-container {
    margin-top: 50px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-790%) translateY(-50px) rotate(45deg);
    @include w1260 () {
      order: 70;
      transform: translateX(80%) translateY(-50px) rotate(45deg);
    }
  }
  &__arrow {
    width: 30px;
    height: 30px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    animation: arrow-animation 2s infinite alternate;
    animation-delay: 1.5s;
    opacity: 0;
  }
  &__img {
    width: 455px;
    height: 455px;
    position: absolute;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40% ;
    bottom: 140px;
    right: 150px;
    opacity: 0;
    background-image: url("../img/adri-muneco.jpg");
    background-position: center;
    background-size: cover;
    animation: img-circle 2s forwards ease, movimiento-circulo 8s ease-in-out infinite;
    animation-delay: 2s;
    filter: drop-shadow(1px 1px 5px rgb(0, 0, 0, 0.5)) ;
    @include w1726 () {
      right: 100px;
    }
    @include w1638 () {
      right: 70px;
    }
    @include w1566 () {
      width: 405px;
      height: 405px;
    }
    @include w1440 () {
      width: 350px;
      height: 350px;
    }
    @include h900 () {
      bottom: 210px;
      width: 325px;
      height: 325px;
    }
    @include w1377 () {
      width: 300px;
      height: 300px;
    }
    @include w1330 () {
      width: 275px;
      height: 275px;
    }
    @include w1260 () {
      position: static;
      order: 20;
      animation: movimiento-circulo 8s ease-in-out infinite;
      opacity: 1;
      width: 355px;
      height: 355px;
    }
    @include h800 () {
      bottom: 270px;
      right: 50px;
    }
    @include w500 () {
      width: 210px;
      height: 210px;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes arrow-animation {
  0% {
    transform: translateY(0) translateX(-90%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(25px) translateX(-2%);
    opacity: 0.5;
  }
}

@keyframes img-circle {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }
  75% {
    transform: translateY(-195px);
  }
  100% {
    opacity: 1;
    transform: translateY(-240px);
  }
}

@keyframes movimiento-circulo {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60% ;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40% ;
  }
}

// ------------------Seccion About us------------------

.about {
  background-image: url("../img/img-flor.png");
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: 920px 10px;
  width: 100%;
  padding: 10.25rem 0;
  position: relative;
  transform: translateY(-100px);
  @include w1680 () {
    background-image: none;
  }
  &__main {
    transform: translateX(-170px);
    @include w1680 () {
      transform: translateX(0px);
    }
    @include w1150 () {
      display: flex;
      flex-direction: column;
      gap: 120px;
    }
    @include w528 () {
      gap: 60px;
    }
    span {
      font-family: 'Josefin Sans', sans-serif;
    }
    p {
      padding-left: 20px;
      border-left: 2px solid;
      border-image: linear-gradient(to bottom, transparent 3% , rgba(0, 0, 0, 0.479) 3%, transparent);
      border-image-slice: 1;
      line-height: 1.5;
    }
  }
&__person {
  max-width: 15rem;
  margin-inline: auto;
  position: relative;
  transform: scale(1.5);
  margin-top: -150px;
  @include w1150 () {
    order: 20;
  }
  @include w528 () {
    transform: scale(1.2);
  }
  @include w378 () {
    transform: scale(1);
  }
}

&__person-container {
  aspect-ratio: 1/1.4;
  display: grid;
  align-items: end;
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
  transition: transform 350ms ease;
  &:hover {
    transform: scale(1.1);
  }
}

&__person-circle {
  position: absolute;
  inset: auto 0 0;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-inline: auto;
  object-fit: cover;
}

&__person-img {
  position: relative;
  z-index: 2;
  right: 55px;
  transform: scale(0.67);
  transition: transform 250ms ease;
}

&__person-container:hover .about__person-img {
  transform: translateY(-.8rem) scale(0.7);
}

  &__text {
    width: 550px;
    @include w1150 () {
      order: 70;
    }
    @include w720 () {
      width: 75%;
    }
    @include w478 () {
      width: 82.5%;
      .about__title {
        font-size: 3.25rem;
      }
    }
  }

  &__main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__text h2 {
    font-size: 4.68rem;
    text-transform: capitalize;
    margin-bottom: 20px;
    @include w1150 () {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  &__text h5 {
    letter-spacing: 2px;
    font-size: 1.375rem;
    margin-bottom: 25px;
  }
  &__text p {
    letter-spacing: 1px;
    line-height: 1.75rem;
    font-size: 1.125rem;
    margin-bottom: 45px;
    @include w378 () {
      font-size: 1rem;
    }
  }
  & a {
    @include a;
  }
  &__cont-btn-texto {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #5a5a5acc;
    @include w720 () {
      flex-direction: column;
      gap: 30px;
    }
    span {
      text-align: center;
      font-style: italic;
      font-size: 1rem;
      font-family: 'Indie Flower', cursive;
      strong {
        font-family: 'Indie Flower', cursive;
        font-style: normal;
      }
    }
    a {
      min-width: 238px;
    }
  }
  &__socials {
    position: absolute;
    top: 37.5%;
    width: 80px;
    height: 225px;
    @include w1250 () {
      display: none;
    }
    ul {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    li {
      list-style: none;
      border-bottom: 1px solid rgba(0,0,0,.4);
      height: 75px;
      box-shadow: 2px 2px 8px 0 rgba(0,0,0,.4);
      &:first-child {
        border-top-right-radius: 30px;
      }
      &:last-child {
        border-bottom-right-radius: 30px;
      }
    }
    a {
      color: #fff;
      font-size: 2rem;
      line-height: 80px;
    }
  }
  &__socials-facebook {
    background: linear-gradient(hsl(220, 46%, 54%),hsl(220, 46%, 38%));
  }
  &__socials-youtube {
    background: linear-gradient(hsl(0, 100%, 74%),#ff0000)
  }
  &__socials-instagram {
    background: linear-gradient(hsl(340, 75%, 74%),#e1306c);
  }
  &__socials-facebook:hover,.about__socials-youtube:hover,.about__socials-instagram:hover {
    filter: brightness(115%);
  }
  &__body-flechas {
    display: flex;
    justify-content: center;
    transform: translateY(120px);
  }
  &__cont-flechas {
    span {
      display: block;
      width: 40px;
      height: 40px;
      border-bottom: 3px solid #0000004d;
      border-right: 3px solid #0000004d;
      transform: rotate(45deg);
      margin: -10px;
      animation: animatte-arrow 2s infinite;
      &:nth-child(2) {
        animation-delay: -0.2s;
        transform: rotate(45deg) translate(-20px, -20px);
      }
      &:nth-child(3) {
        animation-delay: -0.4s;
      }
    }
  } 
}

// ------------------Sección Videos------------------

.videos {
  position: relative;
  margin: 0 0 20px 0;
  width: 100%;
  min-height: 1318px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(45deg,hsl(183, 100%, 13%), $color-primario-4);
  @include w1531 () {
    min-height: 1980px;
  }
  @include w1037 () {
    min-height: 2740px;
  }
  @include w725 () {
    min-height: 2790px;
  }
  @include maxw600 () {
    min-height: 2690px;
  }
  &__cont-contenido {
    margin-top: -70px;
    iframe {
      z-index: 50;
    }
  }
  &__cont-titulo {
    margin: 50px auto 100px;
    width: fit-content;
    background-color: #fff;
    border-radius: 80px;
    padding: 1.3rem 1.3rem 0.3rem;
    box-shadow: 1px 1px 5px 0 rgb(0, 0, 0, 0.5);
    @include w1260 () {
      margin-bottom: 40px;
    }
    @include w725 () {
      margin-bottom: 0;
    }
    @include maxw600 () {
      margin-bottom: 100px;
    }
  }
  &__titulo {
    margin: 0;
    background-image: linear-gradient(45deg,hsl(194, 100%, 13%),hsl(194, 100%, 17%),hsl(194, 100%, 22%),hsl(194, 100%, 27%),hsl(194, 100%, 32%),hsl(194, 100%, 37%),hsl(194, 100%, 42%),hsl(194, 100%, 47%),hsl(194, 100%, 52%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: color 2s infinite alternate;
  }
  &__sticker-adri {
    position: absolute;
    width: 175px;
    z-index: 10;
    top: 229px;
    left: 175px;
    @include w1260 () {
      display: none;
    }
  }
  &__cont-vid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    @include w1037 () {
      gap: 100px;
    }
    @include w725 () {
      padding: 75px;
    }
    @include maxw600 () {
      padding: 0;
    }
    @include w390 () {
      gap: 0;
    }
    h3 {
      font-size: 1.8rem;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000000;
      -webkit-text-fill-color: #ffffff;
      letter-spacing: 2px;
      span {
        -webkit-text-fill-color: $color-primario-4;
      }
    }
    & > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      min-width: 444px;
      max-width: 560px;
      background-color: #fff;
      border-radius: 30px;
      overflow: hidden;
      box-shadow: 1px 1px 5px 0 rgb(0, 0, 0, 0.5);
      @include maxw600 () {
        flex-basis: 100%;
        max-width: none;
        border-radius: 0;
      }
      @include w444 () {
        transform: scale(.9);
      }
      @include w390 () {
        transform: scale(.8);
      }
    }
    figure {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      iframe {
        width: 100%;
      }
    }
    & figcaption {
      width: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h3 {
        text-align: center;
      }
      p {
        line-height: 1.5;
      }
    }
    & .contraste {
      background-color: $color-primario-2;
    }
    a {
      margin: 0 auto;
    }
  }
}

@keyframes color {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.custom-shape-divider-top-1684286448 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1684286448 svg {
  position: relative;
  display: block;
  width: calc(273% + 1.3px);
  height: 73px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1684286448 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1684286415 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684286415 svg {
  position: relative;
  display: block;
  width: calc(273% + 1.3px);
  height: 73px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1684286415 .shape-fill {
  fill: #FFFFFF;
}


// ------------------Sección Fotos------------------

.fotos {
  position: relative;
  padding-top: 4rem;
  width: 100%;
  margin-bottom: 100px;
  min-height: 2058px;
  & .videos__cont-titulo {
    margin-bottom: 30px;
    @include w990 () {
      margin-bottom: 0;
      transform: translateY(50px);
    }
  }
  &__dicho {
    position: absolute;
    width: 360px;
    top: 320px;
    left: 165px;
    font-size: 1.2rem;
    line-height: 2.3rem;
    font-weight: 300;
    color: #4d4d4de5;
    font-style: italic;
    text-shadow: 1px 1px 1px #00000080;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 5px;
    border-left: 2.3px solid;
    padding-left: 15px;
    border-image: linear-gradient(to bottom, transparent 6% , rgba(0, 0, 0, 0.479) 6%, transparent);
    border-image-slice: 1;
    @include w1377 () {
      left: 100px;
    }
    @include w990 () {
      display: none;
    }
    span {
      font-family: 'Indie Flower', cursive;
      font-weight: bold;
    }
  }
  &__dicho-2 {
    position: absolute;
    width: 350px;
    top: 1234px;
    right: 165px;
    font-size: 1.2rem;
    line-height: 2.3rem;
    font-weight: 300;
    color: #4d4d4de5;
    font-style: italic;
    text-shadow: 1px 1px 1px #00000080;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 5px;
    border-right: 2.3px solid;
    border-image: linear-gradient(to bottom, transparent 6% , rgba(0, 0, 0, 0.479) 6%, transparent);
    border-image-slice: 1;
    @include w1566 () {
      top: 1090px;
    }
    @include w1377 () {
      right: 100px;
    }
    @include w990 () {
      display: none;
    }
    span {
      font-family: 'Indie Flower', cursive;
      font-weight: bold;
    }
  }
  &__giff-camara {
    position: absolute;
    top: 450px;
    right: 180px;
    transform: rotate(5deg);
    object-fit: cover;
    border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    border: 1px solid rgba(0, 0, 0, 0.479);
    box-shadow: 2px 2px 5px #00000081;
    width: 330px;
    height: 285px;
    z-index: 10;
    animation: movimiento-circulo 8s ease-in-out infinite;
    @include w1860 () {
      transform: scale(.8);
    }
    @include w1726 () {
      right: 100px;
    }
    @include w1638 () {
      right: 50px;
    }
    @include w1377 () {
      transform: scale(.65);
    }
    @include w1150 () {
      display: none;
    }
  }
  &__fondo-cubo {
    background-image: url("../img/fondo-cubo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    margin-bottom: 250px;
    margin-top: 300px;
    height: 640px;
    --mask: 
    linear-gradient(0deg,#0000 30px,#000 0) 0 15px,
    radial-gradient(15px,#000 98%,#0000) 50%/27.75px 30px repeat space;
  -webkit-mask: var(--mask);
          mask: var(--mask);
    @include w1566 () {
            height: 500px;
          }
          @include w1330 () {
            margin-bottom: 350px;
          }
          @include w990 () {
            margin-top: 0;
            margin-bottom: 175px;
          }
          @include w442 () {
            height: 400px;
          }
  }
  &__wrapper {
    position: relative;
    top: 170px;
    width: 300px;
    height: 300px;
    margin: 200px auto 250px;
    perspective: 800px;
    transform: scale(1.4);
    @include w1566 () {
      transform: scale(1);
      top: 100px;
    }
    @include w1330 () {
      transform: scale(.8);
    }
    @include w500 () {
      transform: scale(.7);
    }
    @include w442 () {
      transform: scale(.6);
      top: 65px;
    }
    @include w390 () {
      transform: scale(.5);
    }
  }
  &__box-area {
    width: 300px;
    animation: cubo 15s linear infinite;
    transform-style: preserve-3d;
    & img {
      height: 300px;
      width: 300px;
      object-fit: cover;
      border: 2px solid #000;
    }
    & div {
      position: absolute;
      height: 300px;
      width: 300px;
    }
  }
  &__box1 {
    transform: translateZ(100px);
  }
  &__box2 {
    transform: rotateY(180deg) translateZ(200px);
  }
  &__box3 {
    transform: rotateY(-90deg) translateX(-200px);
    transform-origin: left;
  }
  &__box4 {
    transform: rotateY(90deg) translateX(200px);
    transform-origin: right;
  }
  &__cont-h3-expandible {
    margin-bottom: 90px;
    transform: translateX(250px);
    width: fit-content;
    padding-right: .5rem;
    box-shadow: rgb(0, 174, 184,.4) 5px 5px, rgb(0, 174, 184,.3) 10px 10px, rgb(0, 174, 184,.2) 15px 15px, rgb(0, 174, 184,.1) 20px 20px, rgb(0, 174, 184,.05) 25px 25px;
    @include w1150 () {
      transform: translateX(0);
      margin: 0 auto 90px;
    }
    h3 {
      font-size: 3rem;
      @include w560 () {
        font-size: 2rem;
      }
    }
  }
  &__container {
    margin: 0 auto;
    width: 100%;
  }
  &__gallery-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 35px;
    padding: 0 120px;
    @include w1037 () {
      padding: 0 60px;
    }
    @include w924 () {
      padding: 0 30px;
    }
    @include w860 () {
      gap: 100px;
      padding: 0 60px;
    }
    @include w800 () {
      gap: 60px;
      padding: 0 60px;
    }
    @include w740 () {
      gap: 30px;
      padding: 0 40px;
    }
    @include w650 () {
      gap: 0;
      padding: 0;
    }
  }
  &__item {
    flex: 1;
    height: 450px;
    min-width: 100px;
    max-width: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 0 10px 10px;
    border-radius: 50px;
    box-shadow: #e6e6e6 5px 5px 2px 0px,
				#c7c7c7 6px 6px 2px 0px,
				#ababab 7px 7px 2px 0px,
				#9e9e9e 8px 8px 2px 0px,
				#919191 9px 9px 2px 0px,
        rgba(0, 0, 0, 0.479) 10px 10px 30px 3px;
        @include w860 () {
          min-width: 200px;
          max-width: 600px;
        }
        @include w650 () {
          min-width: 5px;
          max-width: 100%;
          border-radius: 0;
          box-shadow: none;
        }
        p {
      text-shadow: 0 0 2px #000000ab;
      color: #3b3b3b;
      font-size: 1.3rem;
      max-width: 300px;
      display: none;
      transition: opacity 2s ease;
      margin: 0 0 20px 20px;
      background-color: #ffffffb9;
      padding: 5px;
      box-shadow: 0 0 5px 15px #ffffffb9;
      line-height: 1.35;
      border-radius: 5px;
      @include w1150 () {
        font-size: 1rem;
        max-width: 200px;
      }
      @include w560 () {
        max-width: 180px;
        margin: 0 0 10px 10px;
      }
      @include w390 () {
        max-width: 160px;
        margin: 0 0 5px 5px;
      }
      .subr2 {
        text-decoration: underline;
      }
      .backgr {
        background-color: #577897a2;
        padding: 2px;
        color: white;
        padding: 4px;
        border-radius: 10px;
      }
      .colo {
        color: #383d6e;
        font-size: 1.1rem;
        letter-spacing: .5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        @include w1150 () {
          font-size: .9rem;
        }
      }
    }
    &:hover{
      flex: 7.4;
      p {
        display: block;
      }
    }
    &:not(:hover) {
      p {
        opacity: 0;
        transition: opacity .5s ease;
      }
    }
  }
  &__item-1 { 
    background-image: url('../img/adri-galard.jpg');
  }
  
  &__item-2 { 
    background-image: url("../img/adri-felap.jpg");
  }
  
  &__item-3 { 
    background-image: url("../img/voz-adri.jpg");
  }
  
  &__item-4 { 
    background-image: url("../img/adri-mujer.jpg");
  }
  
  &__item-5 { 
    background-image: url("../img/adri-diploma.jpg");
}
  &__cont-subtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    
    h3 {
      font-size: 3rem;
      @include w670 () {
        font-size: 2.5rem;
      }
      @include w528 () {
        font-size: 2rem;
      }
    }
    span {
      font-size: 1.4rem;
      font-weight: 300;
      color: #4d4d4de5;
      font-style: italic;
      text-shadow: 1px 1px 1px #00000080;
      font-family: 'Indie Flower', cursive;
      letter-spacing: 5px;
      transform: translateY(15px);
      @include w670 () {
        font-size: 1rem;
      }
      @include w528 () {
        letter-spacing: 2.5px;
      }
      @include w420 () {
        letter-spacing: 1.1px;
      }
    }
  }
  &__fondo-slider {
    background-image: url("../img/fondo-cubo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    --mask: 
    linear-gradient(0deg,#0000 30px,#000 0) 0 15px,
    radial-gradient(15px,#000 98%,#0000) 50%/27.75px 30px repeat space;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  }
  &__body-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    transform: scale(1);
    width: 100%;
    margin: 75px auto 0;
    @include w924 () {
      transform: scale(.9);
    }
    @include w800 () {
      transform: scale(.8);
    }
    @include w740 () {
      transform: scale(.7);
      height: 400px;
    }
    @include w670 () {
      transform: scale(.6);
    }
    @include w560 () {
      transform: scale(.5);
    }
    @include w478 () {
      transform: scale(.4);
      height: 300px;
    }
  }
  &__slider {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: center;
      transform-style: preserve-3d;
      transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
    }
    span img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
      transition: 2s;
    }
    span:hover img {
      transform: scale(1.3);
    }
  }
}

@keyframes cubo {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes animatte-arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes rotate {
  0% {
    transform: perspective(1000px) rotate(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

// ------------------Sección Audioteca------------------

.audioteca {
  position: relative;
  background-image: url("../img/fondo-audio.jpg");
  background-position: center;
  background-size: cover;
  margin: 200px 0 0 ;
  padding: 220px 0 230px;
  min-height: 1620px;
  .videos__titulo {
    @include w1350 () {
    font-size: 3.5rem;
    }
  }
  .videos__cont-titulo {
    @include w1350 () {
    padding-top: .6rem;
    }
  }
  &__cont-img-texto {
    display: flex;
    justify-content: center;
    img {
      width: 400px;
      height: 400px;
      float: left;
      shape-outside: ellipse(50% 50%);
      margin-right: 1rem;
      @include w1418 () {
        width: 300px;
      height: 300px;
      }
      @include w990 () {
        width: 250px;
      height: 250px;
      }
      @include w660 () {
        width: 200px;
      height: 200px;
      }
      @include w478 () {
        width: 150px;
      height: 150px;
      }
    }
  }
  &__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    @include w1418 () {
      margin-bottom: 75px;
    }
    .videos__cont-titulo {
      margin: 0 0 80px;
    }
    article {
      h3 {
        font-weight: 800;
      }
      width: 50%;
      @include w1377 () {
        width: 60%;
      }
      @include w1150 () {
        width: 70%;
      }
      @include w932 () {
        width: 80%;
      }
      @include w835 () {
        width: 90%;
      }
      @include w740 () {
        width: 75%;
      }
      @include w430 () {
        width: 82.5%;
      }
      .bold {
        font-weight: 700;
      }
      .contraste2 {
        color: #42320ece;
        background-color: #c5a15350;
        font-family: 'Indie Flower', cursive;
        letter-spacing: 2px;
        padding: 3.3px;
        font-weight: bold;
      }
      .subr {
        text-decoration: underline;
      }
      h3 {
        font-size: 2.5rem;
        margin-bottom: 15px;
        @include w1480 () {
          font-size: 2rem;
        }
        @include w1418 () {
          font-size: 1.7rem;
        }
        @include w442 () {
          margin-top: 25px;
          font-size: 1.5rem;
        }
      }
      p {
        font-size: 1.5rem;
        color: #5c5c5c;
        border-right:2.7px solid;
        padding-right: 25px;
        border-image: linear-gradient(to bottom, transparent 3% , rgba(0, 0, 0, 0.479) 3%, transparent);
        border-image-slice: 1;
        line-height: 1.35;
        @include w1801 () {
          font-size: 1.35rem;
        }
        @include w1709 () {
          font-size: 1.25rem;
        }
        @include w1492 () {
          font-size: 1.15rem;
        }
        &::first-letter {
          font-size: 2rem;
          font-weight: 100;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        @include w990 () {
          font-size: 1rem;
        }
      }
    }
  }
  &__sticker {
    z-index: 10;
    width: 200px;
    position: absolute;
    top: 786px;
    right: 130px;
    @include w1887 () {
      top: 800px;
    }
    @include w1801 () {
      top: 786px;
    }
    @include w1580 () {
      top: 810px;
    }
    @include w1492 () {
      top: 790px;
    }
    @include w1418 () {
      display: none;
    }
  }
  &__cont-players {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 4rem;
    justify-content: center;
  }
  &__player {
    min-width: 350px;
    max-width: 500px;
    background: #f1f3f4;
    flex: 1;
    & .audioteca__imgbox {
      position: relative;
      width: 100%;
      height: 350px;
      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include w1900 () {
        object-position: -10px;
        }
      }
    }
    & audio {
      width: 100%;
      outline: none;
    }
  }
}

.custom-shape-divider-top-1684522749 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1684522749 svg {
  position: relative;
  display: block;
  width: calc(199% + 1.3px);
  height: 84px;
}

.custom-shape-divider-top-1684522749 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1684523877 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684523877 svg {
  position: relative;
  display: block;
  width: calc(187% + 1.3px);
  height: 63px;
}

.custom-shape-divider-bottom-1684523877 .shape-fill {
  fill: #FFFFFF;
}


// ------------------Sección Publicidad------------------

.publicidad {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 10px;
  min-height: 1890px;
  & .videos__cont-titulo {
    margin-bottom: 0;
  }
  .videos__titulo {
    @include w879 () {
      font-size: 3rem;
    }
  }
  &__fondo-chispas {
    width: 100%;
    position: absolute;
    top: 610px;
    z-index: -10;
  }
  &__cont-tarj {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    gap: 50px;
    justify-content: center;
    align-items: center;
    & > * {
      flex: 1;
      min-width: 300px;
      max-width: 400px;
    }
  }
}

.custom-shape-divider-bottom-1684252060 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684252060 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
}

.custom-shape-divider-bottom-1684252060 .shape-fill {
  fill: $color-primario-4;
}
